<br />
<h2>Article details</h2>
<p>Here you can read and discuss</p><hr/>

<%= @article.author_content %><br /><br />
<span style="font-size: 85%; color: #999; font-style: italic;">added to: <%= @article.created_at %> •</span>
<span style="font-size: 85%; color: #999; font-style: italic;">author is: <%= @article.author_name %></span><br />
<a href="/" style="font-size: 85%; font-style: italic;">← Back</a>
<hr />

<!-- Если нет комментариев, то не выводить для них заголовок -->
<% if @comments != [] %>
  <br /><h2><%='Comments' %></h2><br />
<% end %>

<!-- Вывод комментариев -->
<% @comments.each do |i| %><br />
    <%= i.user_comment %><br /><br />
    <span style="font-size: 85%; color: #999; font-style: italic;">added to: <%= i.created_at %></span>
    <hr />
<% end %>

<br />
<h2>Discuss this article</h2>
<form action="/details/<%= @article.id %>" method="POST">
  <div class="form-group">
    <textarea name="comment[user_comment]" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>